
.list-group {
  width: 30%;
  background-color: #fcfdff;
  padding: 1em;
}

.map-container {
  height: 500px;
  width: 65%;
}

.home-container {
  display: flex;
  justify-content: space-around;
}

#connection{
  padding-top: 20px;
  margin-bottom: 20px;

}

#nav-title{
  font-family: 'shadows into light', cursive;
  font-size: 3em;
  text-decoration: none;
  color: #007295ff;

}

.brand{
  display: flex;
  align-items: center;
}

.name-tag{
  font-family: 'shadows into light', cursive;
  color: #007295ff;
  text-decoration: none;

}

body{
  font-family: 'open sans', sans-serif;
  background-color: #eff7ff;
  height: 100%;
}

.navbar{
  background-color: #fcfdff;
  /* background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(100, 100, 100, .5)), url("https://images.unsplash.com/photo-1513346940221-6f673d962e97?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1935ff11e2551095e6e4c8a86141aeb7&auto=format&fit=crop&w=1050&q=80"); */

  text-decoration: none;
}

.navbar-brand{
  text-decoration: none;
}

.home-container{
  margin-top: 3em;
}

.form-container{
  display: flex;
  margin-top:4em;
  /* width: 40em; */
  justify-content: center;
}

.form-button{
  display: flex;
  justify-content : center;
}

a:link {
  text-decoration: none;
}

.nav-link{
  background-color: #007295ff;
  color: white;
}

.your-gene{
  background-color: #007295ff;
  color: white;
}

.btn{
  background-color: #007295ff;
  color: white;
}
